.menu {
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 94px;
  padding: 0 5%;
  background: var(--black);
  border-bottom: 2px solid var(--primary);
}

.menu .logo {
  max-width: 168px;
  height: auto;
}

@media (max-width: 800px) {
  .menu {
    height: 40px;
    justify-content: center;
  }
  .logo { max-width: 105px;}
}
